<div class="container-fluid pl-xl-5 pr-xl-5 vo-theme">
  <perun-web-apps-back-button> </perun-web-apps-back-button>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <div *ngIf="!loading && vo !== undefined">
    <div class="d-flex page-title-headtitle">
      <mat-icon
        matTooltip="{{ 'VO_DETAIL.ENTITY' | translate }}"
        [ngStyle]="{'color':'black'}"
        class="perun-icon perun-icon-detail"
        svgIcon="perun-vo-black">
      </mat-icon>
      <div class="page-title-block">
        <div class="page-title-headline d-flex align-items-center">
          <a
            class="vo-link"
            [routerLink]="['/organizations/', vo.id]"
            data-cy="vo-name-link"
            queryParamsHandling="merge">
            {{vo.name}}
          </a>
          <span class="text-muted"> &nbsp;#{{vo.id}} </span>
          <button (click)="editVo()" *ngIf="editAuth" aria-label="Edit Vo" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button
            *ngIf="removeAuth"
            (click)="removeVo()"
            aria-label="Remove Vo"
            data-cy="delete-vo"
            mat-icon-button>
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
        <span class="mt-1 entity-info">
          {{'VO_DETAIL.ENTITY' | translate}}, {{'VO_DETAIL.SHORT_NAME' | translate}}:
          {{vo.shortName}}
        </span>
      </div>
    </div>
    <app-animated-router-outlet></app-animated-router-outlet>
  </div>
</div>
