<div>
  <h1 class="page-subtitle">{{'FACILITY_DETAIL.RESOURCES.TITLE' | translate}}</h1>
  <perun-web-apps-refresh-button (refresh)="refreshTable()"></perun-web-apps-refresh-button>
  <button
    *ngIf="addAuth"
    (click)="createResource()"
    color="accent"
    class="mr-2 action-button"
    mat-flat-button>
    {{'FACILITY_DETAIL.RESOURCES.CREATE' | translate}}
  </button>
  <button
    *ngIf="removeAuth"
    (click)="removeResource()"
    color="warn"
    [disabled]="selected.selected.length === 0"
    class="mr-2"
    mat-flat-button>
    {{'FACILITY_DETAIL.RESOURCES.DELETE' | translate}}
  </button>
  <perun-web-apps-immediate-filter
    (filter)="applyFilter($event)"
    [placeholder]="'SHARED_LIB.PERUN.COMPONENTS.RESOURCES_LIST.TABLE_SEARCH'"></perun-web-apps-immediate-filter>
  <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
  <perun-web-apps-resources-list
    [disableRouting]="!routeAuth"
    *ngIf="!loading"
    [filterValue]="filterValue"
    [resources]="resources"
    [selection]="selected"
    [displayedColumns]="displayedColumns"
    [tableId]="tableId">
  </perun-web-apps-resources-list>
</div>
